<%- include("partials/header.ejs") %>
<h1>Home</h1>

<% if(locals.homeContent){ %>
    <p><%= homeContent%></p>
<% } %>
<% if(locals.posts){ %>
    <% posts.forEach(function(post){%>
        <h1><%= post.title%></h1>
        <% var body = post.body%>
        <% var subBody = body.substring(0, 100) + "..."; %>
        <p><%= subBody %><a href="/posts/<%= post.title %>">Read More</a><p>
        
    <% }) %> 
<% } %>

<%- include("partials/footer.ejs") %>
